$violet: hsl(263, 55%, 52%);
$lightviolet: hsl(264, 82%, 70%);
$grayishblue: hsl(217, 19%, 35%);
$blackishblue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$lightgray: hsl(0, 0%, 81%);
$lightgrayishblue: hsl(210, 46%, 95%);